$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


.top-badge {
  height: 5px;
  color: #76e1ab;
  background: #68c19a;
  
  .link {
    width: 100px;
    height: 100px;
    color: #76e1ab;
    background: #68c19a;
    border: black 1px solid;
  }

}

